body {
    background: #fafafa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

.image-section img {
    width: 300px;
    height: auto;
}

.pirveli {
    width: 350px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 40px 30px;
    text-align: center;
}

.pirveli p a {

    color: white;
}
